  <!-- MISCEALLOUS -->
  <section id="misceallous" class="pt-5">
      <!-- title -->
      <div class="row text-white text-center">
          <div class="col m-4">
              <h1 class="mb-4" style="color: #f48f42">Miscaellous</h1>
              <div class="underline mb-4"></div>
              <p class="lead text-muted">
                  Beside informatic i have some other passions witch are : 
                  aviation (i have my pilot's license) and musics <i class="fas fa-music text-primary"></i> (i have played guitars and keyboards).
                  The most sensational thing i did : flying in a plane fighter (see video below <i class="mx-2 fas fa-fighter-jet text-danger"></i>)
              </p>
          </div>
      </div>
      <!-- end title -->
      <div class="row align-items-center justify-content-center bg-light">            
          <div class="col-lg-6">
              <div id="misceallousYoutube" class="os-animation" style="opacity: 0">
                  <div class="cardMisceallous card-youtube text-light mx-sm-3">
                      <div class="card-body">
                          <h5 class="font-weight-font mb-4 text-center text-dark">
                              Fly over ocean
                          </h5>
                          <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PiXEO_SGrzM" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt-4">
              <div id="misceallousSoundcloud" class="os-animation" data-delay=".3s" style="opacity: 0">
                  <div class="cardMisceallous card-soundcloud text-light mx-sm-3">
                      <div class="card-body">
                          <h5 class="font-weight-font mb-4 text-center text-dark">
                              Some of my musics...
                          </h5>
                          <div class="d-none d-md-block d-lg-block d-xl-block">
                              <div class="container">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/263990406&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
                              </div>
                              <div class="container mt-3">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/370323422&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
                              </div>
                              <div class="container mt-3">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/258947231&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
                              </div>
                          </div>
                          <div class="d-sm-block d-md-none d-lg-none d-xl-none">
                              <div class="container">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/263990406&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
                              </div>
                              <div class="container mt-4">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/370323422&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
                              </div>
                              <div class="container mt-4">
                                  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/258947231&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true"></iframe>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- END MISCEALLOUS -->