/* header */

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0, .5)), 
                url(../../assets/images/Macbook.jpeg) no-repeat center center/cover;
}

/* navbar */
.nav-menu {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0, .5));
    padding: 0px;
    transition: all .7s;
}

.navbar {
    min-height: 40px;
  }

.nav-button {
    padding: 0 15px;
}
  
.navbar-brand {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
  }

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    cursor: pointer;
    transition: color .5s;
}

.login-link {
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #70aed2;
}
.link-login:hover {
    background: #b37474;
    color: #aaa;
}

.link-login {
    background: #b37474;
    color: #fff;
    transition: color .5s;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
    opacity: 0;
}
.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
    padding: 5px, 30px;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7));
}

.navBarFadeIn {
    animation-name: navBarFadeIn;
    animation-duration: 0.3s 
}

.navBarFadeOut {
    animation-name: navBarFadeOut;
    animation-duration: 0.3s 
}

/* end of navbar */

/* banner */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;   
}

@keyframes anim {

    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navBarFadeIn {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes navBarFadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* end of banner */

/* end header */
