<footer class="bg-dark">
    <div class="container-fluid">
        <div class="row text-light py-4">
            <div class="col-lg-4 col-sm-6">
                <h5 class="pb-3">About this site</h5>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nobis dicta molestiae id laboriosam natus repudiandae, ducimus illum veritatis perspiciatis possimus, at facere debitis accusantium?</p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h5 class="pb-3">Visit Us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#home" class="footer-link">Home</a>
                    </li>
                    <li>
                        <a href="#aboutme" class="footer-link">About Me</a>
                    </li>
                    <li>
                        <a href="#projects" class="footer-link">App / Projects</a>
                    </li>
                    <li>
                        <a href="#misceallousLink" class="footer-link">Misceallous</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end text-white  pt-3">
                <p>&copy; 2019 Copyright, All Rights Reserved </p>
            </div>
        </div>
    </div>
</footer>  