<!-- ABOUT ME -->
<section id="aboutme" class="aboutme pt-5">
    <div class="container-fluid">
        <!-- title -->
        <div class="row text-white text-center">
            <div class="col m-4">
                <h1 class="mb-4" style="color: #f48f42">About Me</h1>
                <div class="underline mb-4"></div>
                <p class="lead">
                    <i class="fab fa-java fa-2x"></i>
                    <i class="fab fa-react fa-2x mx-4" style="color:rgb(125, 100, 249);"></i>
                    <i class="fab fa-android fa-2x" style="color:rgb(35, 175, 6);"></i>
                    <i class="fab fa-apple fa-2x mx-4" style="color:rgb(255, 248, 248);"></i>
                    <i class="fab fa-angular fa-2x" style="color:rgb(230, 59, 56);"></i>
                    <i class="fab fa-node fa-2x mx-4" style="color:rgb(85, 244, 32);"></i>
                </p>
            </div>
        </div>
    </div>
    <!-- end title -->  
    <div class="container-fluid">
        <div class="row dark align-items-center">
            <div class="col-lg-5 text-center">
                <div id="aboutMeImage" class="os-animation"  style="opacity: 0">
                    <img src="assets/AboutMeImage.jpg" class="img-fluid about-img" alt="">
                </div>
            </div>
            <div class="col-lg-7 text-white text-lg-right text-center about-text  my-4" id="aboutme-back">
                <div id="aboutMeText" class="os-animation"  style="opacity: 0">
                    <h2>Why so many icons above ?</h2>
                    <p class='' style="font-size: 16px">
                        <i class="fab fa-java fa-2x my-5"></i>
                        After studying physics in university i decided to switch in IT domain and learn Java. 
                        Since this time i worked for many customers and a lot of projects with <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">JAVA ecosystem</span> : Spring/SpringBoot, Struts, Oracle as databse,
                        Weblogic/JBoss/Glassfish as applications servers and so on....                            
                    </p>
                    <p class='' style="font-size: 16px">
                        <i class="fab fa-android fa-2x mx-4 my-3" style="color:rgb(35, 175, 6);"></i>
                        <i class="fab fa-apple fa-2x my-3" style="color:rgb(255, 248, 248);"></i>
                        ... two years ago i decided to improve my skills on <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">native mobile development</span> and get online formation 
                        to learn <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">Android</span>, quickly i developped my first app 
                        (an advanced news reader and a jogging application). <br>
                        I also began in <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">ios world</span> with swift and made some app <br>
                        But make development for two differents mobile platforms take pretty mutch time ...
                    </p>
                    <p class='' style="font-size: 16px">
                        <i class="fab fa-react fa-2x mx-4 my-3" style="color:rgb(125, 100, 249);"></i>
                        ... so cross-platform framework has begun to make sense for me and i dived deeply into 
                        <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">React Native (and React)</span> witch allowed me remake the two applications i've done in Androi : <br>
                        Advanced rss readers with many features and a complete running application, i'm using these applications 
                        almost every days (on android) and also my wife (on ios)
                        Naturally, the new <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">FLutter</span> google framework really interests me (i have 
                        some knowledge about it)
                        <br>
                    </p>
                    <p class='' style="font-size: 16px">
                        <i class="fab fa-angular fa-2x mx-4 my-3" style="color:rgb(230, 59, 56);"></i>
                        <i class="fab fa-node fa-3x my-3" style="color:rgb(85, 244, 32);"></i>
                        Beside mobile and paradigm 'mobile first', web remains essential, so after studying React, Angular is the second 
                        js framework witch takes place in my trainig plan as well as NodeJs to be on the Fullstack side : with 
                        <span class="lead font-weight-bold" style="color:rgb(35, 175, 6);">Mongo, Express, Angular, Node</span>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT ME -->