<!-- Modal -->
<div #modalSignin class="modal fade" id="login-in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Signin by entering your email / password</h4>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

         <input type="email" 
                class="form-control mb-3"
                maxlength="40"
                placeholder="email">
          <input type="password"
                 class="form-control mb-3"
                 maxlength="40"
                 placeholder="password">
          <input type="password"
                 class="form-control"
                 maxlength="40"
                 placeholder="confirm password">

      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button (click)="signinOK()" type="button" class="btn btn-success" data-dismiss="modal">SignIn</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->