<!-- HOME - HEADER -->
<header id="home">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top nav-menu custom-navbar">
        <a href="#home" class="navbar-brand text-light">
            <span class="h4 ml-2" style="font-size: 1rem">Michel DIO</span>
        </a>
        <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" 
                data-target="#myNavbar">
            <div class="bg-light line1"></div>
            <div class="bg-light line2"></div>
            <div class="bg-light line3"></div>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold" 
             id="myNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#home" class="nav-link m-2 menu-item active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#aboutme" class="nav-link m-2 menu-item">About Me / CV</a>
                </li>
                <li class="nav-item">
                    <a href="#projects" class="nav-link m-2 menu-item">App / Projects</a>
                </li>
                <li class="nav-item">
                    <a href="#misceallousLink" class="nav-link m-2 menu-item">Misceallous</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link m-2 menu-item">Contact</a>
                </li>
                <ng-container *ngIf="!authenticationService.isAuthenticated()">
                    <li class="nav-item">
                        <a (click)="modalLogin.openModal()" class="nav-link m-2 menu-item" >
                            <span class="link-login p-2">Log In</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="modalSignin.openModal()" class="nav-link m-2 menu-item" >
                            <span class="link-signin p-2">Sign In</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="authenticationService.isAuthenticated()">
                    <li class="nav-item">
                        <a (click)="logout()" class="nav-link m-2 menu-item" >
                            <span class="link-logout p-2">Log Out</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="connected/home" class="nav-link m-2 menu-item" >
                            <span class="link-personnal p-2">Personnal</span>
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
    <!-- end navbar -->

    <!-- banner -->
    <div class="text-light text-md-right text-center banner">
        <div class="os-animation fadeInDownBig" style="opacity: 1">
            <img src="assets/images/Moi1.png" class="img-fluid rounded-circle m-5" width="150" alt="">
        </div>
        <h1 class="banner-heading">Welcome to my personnal site</h1>
        <p class="banner-par">Fullstack (React, Angular) / Mobile (IOS, Android) / JAVA</p>
    </div>        
    <!-- end banner -->

    <!-- Modal -->
    <modal-login #modalLogin></modal-login>
    <modal-signin #modalSignin></modal-signin>
    <!-- End Modal -->

</header>
<!-- END HOME - HEADER -->