<!-- Modal -->
<div #modalLogin class="modal fade" id="login-in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Please enter email/password</h4>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
           Coucou
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->