<!-- PROJECTS -->

    <!-- title -->
    <div class="row text-white text-center projects">
        <div class="col m-4">
            <h1 class="mb-4" style="color: #f48f42">Projects</h1>
            <div class="underline mb-4"></div>
            <p class="lead text-muted">
                Here some of my projects
            </p>
        </div>
    </div>
    <!-- end title -->
    <div class="fixed-background">
        <div class="row darkProjects">
            <div class="col-md-12">
                <div class="os-animation" data-animation="fadeInUp">
                    <div  id="team-slider" class="owl-carousel owl-theme">
                        <div class="card text-center">
                            <img src="../../assets/videos/Rss.gif" alt="" class="card-img-top" style="width: 30%; height: auto; margin-left: 35%; margin-top: 30px">
                            <div class="card-body">
                                <h4>John Lee</h4>
                                <h5>CEO</h5>
                                <p>John is an entrepreneur with almost 20 years of experience.</p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="card text-center">
                            <img src="../../assets/videos/Rss.gif" alt="" class="card-img-top" style="width: 30%; height: auto; margin-left: 35%; margin-top: 30px">
                            <div class="card-body">
                                <h4>John Lee</h4>
                                <h5>CEO</h5>
                                <p>John is an entrepreneur with almost 20 years of experience.</p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="card text-center">
                            <img src="../../assets/videos/Rss.gif" alt="" class="card-img-top" style="width: 30%; height: auto; margin-left: 35%; margin-top: 30px">
                            <div class="card-body">
                                <h4>John Lee</h4>
                                <h5>CEO</h5>
                                <p>John is an entrepreneur with almost 20 years of experience.</p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div> <!-- End projects slider -->
                </div> <!-- End animation -->
            </div> <!-- End of col md 12 -->
        </div>   
        <div class="fixed-wrap">
            <div id="fixed">

            </div>
        </div> 
    </div>
<!-- END PROJECTS -->