<!-- PROJECTS -->
    <div id="projects" style="background-color: black">
      <br><br>
    </div>
    <!-- title -->
    <div class="row text-white text-center projects">
        <div class="col m-4">
            <h1 class="mb-4" style="color: #f48f42">App / Projects</h1>
            <div class="underline mb-4"></div>
            <p class="lead" style="color: #aaa">
                Here some of my app/projects<br>
                React Native : 2 completed app that i use very often (on ios and android) <br>
                Android : i started this 2 app but finally i redid them with react native <br>
                IOS : app for fun and training <br>
            </p>
        </div>
    </div>
    <!-- end title -->
    <div class="fixed-background">
        <div class="row darkProjects">
            <div class="col-md-12">
                <div class="os-animation" data-animation="fadeInUp">
                    <div  id="projects-slider" class="owl-carousel owl-theme">
                        <div class="card text-center">
                            <video height="250" controls autoplay>
                                <source src="assets/videos/Rss.mp4" type="video/mp4">                              
                            </video>
                            <div class="card-body">
                                <i class="fab fa-react fa-3x mb-2" style="color:rgb(125, 100, 249);"></i>
                                <h5>React Native</h5>
                                <h5>Advanced RSS Reader</h5>
                                <p>
                                    Rss search engine<br>
                                    Mark news favourite to read later<br>
                                    Save news permanently<br>
                                    Filter news by name/category<br>
                                    And more ....
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="250" controls>
                                <source src="assets/videos/Run.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <i class="fab fa-react fa-3x mb-2" style="color:rgb(125, 100, 249);"></i>
                                <h5>React Native</h5>
                                <h5>Running Application</h5>
                                <p>
                                    Realtime background location<br>
                                    Vocal notification during activity<br> 
                                    Advanced statistics<br>
                                    Calendar to manage event<br>
                                    And more ....
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="250" controls>
                                <source src="assets/videos/AndroidRSS.mp4" type="video/mp4">                              
                            </video>
                            <div class="card-body">
                                <i class="fab fa-android  fa-3x mb-2" style="color:rgb(35, 175, 6);"></i>
                                <h5>Android</h5>
                                <h5>Advanced RSS Reader</h5>
                                <p>
                                    Rss search engine<br>
                                    Mark news favourite to read later<br>
                                    Save news permanently<br>
                                    Filter news by name/category<br>
                                    And more ....
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="250" controls>
                                <source src="assets/videos/AndroidRun.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <i class="fab fa-android fa-3x mb-2" style="color:rgb(35, 175, 6);"></i>
                                <h5>Android</h5>
                                <h5>Running Application</h5>
                                <p>
                                    Realtime background location<br>
                                    Vocal notification during activity<br> 
                                    Configuration<br>
                                    Application not finished<br>
                                    Made it again React Native
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="250" controls>
                                <source src="assets/videos/IOS_RickyMorty.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <i class="fab fa-apple fa-3x mb-2" style="color:rgb(255, 248, 248);"></i>
                                <h5>IOS</h5>
                                <h5>Ricky & Morty</h5>
                                <p>
                                    A little app arround Ricky & Morty API<br>
                                    Just for fun and training IOS<br> 
                                    <br>
                                    <br>
                                    <br>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="250" controls>
                                <source src="assets/videos/IOS_LesCalanques.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <i class="fab fa-apple fa-3x mb-2" style="color:rgb(255, 248, 248);"></i>
                                <h5>IOS</h5>
                                <h5>Les Calanques</h5>
                                <p>
                                    Discover some Calanques arround Marseilles<br>
                                    Just for fun and training IOS<br> 
                                    <br>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div> <!-- End projects slider -->
                </div> <!-- End animation -->
            </div> <!-- End of col md 12 -->
        </div>   
        <div class="fixed-wrap">
            <div id="fixed">

            </div>
        </div> 
    </div>
<!-- END PROJECTS -->