<!-- PROJECTS -->
    <div id="projects" style="background-color: black">
      <br><br>
    </div>
    <!-- title -->
    <div class="row text-white text-center projects">
        <div class="col m-4">
            <h1 class="mb-4" style="color: #f48f42">Projects</h1>
            <div class="underline mb-4"></div>
            <p class="lead text-muted">
                Here some of my projects
            </p>
        </div>
    </div>
    <!-- end title -->
    <div class="fixed-background">
        <div class="row darkProjects">
            <div class="col-md-12">
                <div class="os-animation" data-animation="fadeInUp">
                    <div  id="team-slider" class="owl-carousel owl-theme">
                        <div class="card text-center">
                            <video height="300" controls autoplay>
                                <source src="assets/videos/Rss.mp4" type="video/mp4">                              
                            </video>
                            <div class="card-body">
                                <i class="fab fa-react fa-3x mb-2" style="color:rgb(125, 100, 249);"></i>
                                <h5>React Native</h5>
                                <h5>Advanced RSS Reader</h5>
                                <p>
                                    Rss search engine<br>
                                    Mark news favourite to read later<br>
                                    Save news permanently<br>
                                    Filter news by name/category<br>
                                    And more ....
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="300" controls>
                                <source src="assets/videos/Run.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <i class="fab fa-react fa-3x mb-2" style="color:rgb(125, 100, 249);"></i>
                                <h5>React Native</h5>
                                <h5>Running Application</h5>
                                <p>
                                    Realtime background location<br>
                                    Vocal notification during activity<br> 
                                    Advanced statistics<br>
                                    Calendar to manage event<br>
                                    And more ....
                                </p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="300" controls autoplay>
                                <source src="assets/videos/Rss.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <h4>John Lee</h4>
                                <h5>CEO</h5>
                                <p>John is an entrepreneur with almost 20 years of experience.</p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="card text-center">
                            <video height="300" controls>
                                <source src="assets/videos/Run.mp4" type="video/mp4">                              
                              </video>
                            <div class="card-body">
                                <h4>John Dee</h4>
                                <h5>CEO</h5>
                                <p>John is an entrepreneur with almost 20 years of experience.</p>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div> <!-- End projects slider -->
                </div> <!-- End animation -->
            </div> <!-- End of col md 12 -->
        </div>   
        <div class="fixed-wrap">
            <div id="fixed">

            </div>
        </div> 
    </div>
<!-- END PROJECTS -->