.rss-card {
    
    background-color: rgb(249, 245, 245);
    box-shadow: 2px 3px 2px #999;
    transition: all .3s;
}

.rss-card:hover {
    background-color: rgb(255, 240, 218);
    box-shadow: 3px 4px 2px #999;
    transform: translateY(-1px);
}

.title {
    color: rgb(235, 231, 225);
}

.empty-rss {
    color: rgb(244, 203, 141);
    font-size: 1.2rem;
}

.rss-name {
    font-size: 1.1rem;
    font-weight: bold;
}
.rss-infos {
    font-size: .8rem;
    font-weight: 600;
}

.icon-add {
    transition: all .5s;
}
.icon-add:hover {
    color: rgb(177, 154, 125) !important;
}

.icon-edit {
    transition: all .5s;
}
.icon-edit:hover {
    color: rgb(145, 199, 128) !important;
}

.icon-trash {
    transition: all .5s;
}
.icon-trash:hover {
    color: rgb(220, 155, 151) !important;
}

.edit-margin {
    margin-left: 90px;
    transition: all 0.2s
}

@media (max-width:525px) {
    .edit-margin {
        margin-left: 40px;
    }
}

@media (max-width:410px) {
    .edit-margin {
        margin-left: 20px;
    }
}

@media (max-width:370px) {
    .edit-margin {
        margin-left: 10px;
    }
}

