.title {
    color: rgb(193, 175, 153);
}

.icon-edit {
    transition: all .5s;
}
.icon-edit:hover {
    color: rgb(130, 218, 104) !important;
}

.icon-trash {
    transition: all .5s;
}
.icon-trash:hover {
    color: rgb(220, 155, 151) !important;
}

.edit-margin {
    margin-left: 90px;
    transition: all 0.2s
}

@media (max-width:525px) {
    .edit-margin {
        margin-left: 40px;
    }
}

@media (max-width:410px) {
    .edit-margin {
        margin-left: 20px;
    }
}

@media (max-width:370px) {
    .edit-margin {
        margin-left: 10px;
    }
}

@media (max-width:350px) {
    .edit-margin {
        margin-left: 0px;
    }
}