<!-- Item RSS -->
    <div class="row rss-list" id="rssItemsList">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
          <div *ngFor="let item of feeds" class="col-xl-3 col-sm-6 p-2">
            <div class="card card-common">
              <div class="card-body">
                <div class="">
                  <img class="card-img" src={{item.enclosure.url}} alt="">
                  <div class="text-left">
                    <p class="item-title">{{item.title}}</p>
                  </div>
                </div>
              </div>
              <div class="card-footer card-footer-text">
                <div>Le Monde</div>
                <div>{{item.pubDate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- end of cards -->