
/** Gestion du message attente de chargement Loading **/
.callCloudFunctionMessage {
  color: rgb(226, 183, 41);
  padding-top: 8rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.rss-list {
    background-color: rgb(38, 16, 16);
}


/** Gestion Card RSS **/
.card-common {
  position: relative;
  margin: 6px;
  height: 23rem;
  /**background-color: #3a2828;*/
  box-shadow: 1px 2px 5px rgb(97, 61, 61);
  transition: all .4s;
}
  
.card-common:hover {
  box-shadow: 2px 3px 15px rgb(128, 81, 81);
  transform: scale(1.05);
}

.card-img {
    width: 100%;
    max-height: 9.5rem;
    /**object-fit: contain;*/
}


.item-title {
  margin-top: 1rem;
  color: rgb(237, 237, 237);
  font-size: 0.9rem;
}
  
.card-footer-text {
  font-style: italic;
  background-color: #301818;
  color: rgb(33, 161, 199);
  font-size: .8rem;
}

/** Gestion du back content de la carte **/
.back {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0,0,0,.8)), 
  fixed center no-repeat;
  /*background-color: #fafafa;*/
  top: -100%;
  height: 100%;
  width: 100%;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: rotateY(180deg);
  transition: top .8s, opacity .4s;
}

.back-content {
  position: absolute;
  color: rgb(242, 231, 194);
  font-size: 1rem;
  top: 43%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.rotate {
  perspective: 100rem;
}

.rotate:hover .card-common {
  transform: rotateY(180deg);
}

.rotate:hover .back {
  opacity: 1;
  top: 0;
  user-select: auto;
  pointer-events: auto;
}

/** Gestion du floating bouton **/
.btn-custom {
  position: fixed;
  border-radius: 50%;
  bottom: 1rem;
  right: 1rem;
  opacity: 0; 
}

@media (max-width: 768px) {

  .btn-custom  {
    opacity: 0.7;
  }
}