<!-- top-nav -->
<div 
[ngClass]="toggle || toggleFilters ? 'col-xl-10 col-lg-9 col-md-8 ml-auto fixed-top py-2 top-navbar scale-rss-header ' : 'col-xl-10 col-lg-9 col-md-8 ml-auto fixed-top py-2 top-navbar unscale-rss-header'"
>
    <nav class="navbar navbar-expand-md nav-menu custom-navbar" id="rssheader">
        <a href="#home" class="navbar-brand">
            <span class="ml-2">Advanced RSS Reader</span>
        </a>
        
        <button (click)="clikToggleButton()"  
                [ngClass]="toggle ? 'navbar-toggler rss-nav-button change' : 'navbar-toggler rss-nav-button collapsed'"
                type="button" 
                attr.data-toggle="{{collapseValue}}"
                attr.aria-expanded="{{ariaExpand}}"
                data-target="#rssNavbar"
                id="rssNavButton">
            <div class="bg-light line1"></div>
            <div class="bg-light line2"></div>
            <div class="bg-light line3"></div>
        </button>
        <div 
             [ngClass]="toggle ? 'navbar-collapse justify-content-end font-weight-bold collapse show' : 'collapse navbar-collapse justify-content-end font-weight-bold'"
             id="rssNavbar">
             <ul class="navbar-nav" style="list-style: none">
                <li class="nav-item">
                    <span (click)="refresh()" style="cursor: pointer" class="p-2 mb-2 rss-header-link">
                        <i class="fas fa-sync-alt text-light mr-2"></i>
                            <span class="text-link">Refresh</span>
                    </span>
                </li>
                <li class="nav-item">
                    <span (click)="clickToggleFilters()" style="cursor: pointer" class="p-2 mb-2 rss-header-link">
                        <i class="fas fa-filter text-light mr-2"></i>
                        <span class="text-link">Filters</span>
                    </span>
                    <app-rss-filters [toggleFilters]="toggleFilters"></app-rss-filters>
                </li>
                <li class="nav-item">
                    <a (click)="manage()" style="cursor: pointer" class="p-2 mb-2 rss-header-link">
                        <i class="fas fa-cogs text-light mr-2"></i>
                        <span class="text-link">Manage RSS</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>
<!-- end of top-nav -->