
<span class="row align-items-center mb-4 mt-4">
    <h4 class="title">Categories</h4>
    <i class="fas fa-plus-circle fa-2x title ml-4"></i>
  </span>
<div class="container-fluid bg-white">
  <div class="row py-3 mb-4 task-border align-items-center">
    <div class="col-1">
      <input type="checkbox" checked>
    </div>
    <div class="col-sm-6 col-6" style="overflow-wrap: anywhere">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
    <div class="col-1">
      <a href="#" data-toggle="tooltip" data-html="true" title="<h6>Edit</h6>" data-placement="top">
        <i class="fas fa-edit fa-lg text-success mr-2 "></i>
      </a>
    </div>
    <div class="col-1">
      <a href="#" data-toggle="tooltip" data-html="true" title="<h6>Delete</h6>" data-placement="top">
        <i class="fas fa-trash-alt fa-lg text-danger mr-2 "></i>
      </a>
    </div>
  </div>
</div>