.modal {
    transition: all 0.4s;  
}

.modal-transition-in {
    margin-top: 50px;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.8));
}

.modal-content {
    background-color: #eee;
}

.callCloudFunctionMessage {
    color: rgb(150, 115, 0);
    font-size: 18px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}