body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

button.navbar-toggler:focus { outline: 1px none; }

.container { 
  
    width: 96%;
    max-width: 60em;
    margin: 0 auto;
    
  }
