<section class='manage-rss'>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <ul class="nav nav-tabs">

              <li class="nav-item">
                <span style="border: none"
                      (click)="rssConfiguration()" 
                      [ngClass]="rssActive ? 'nav-link active-link custom-link' : 'nav-link custom-link'"
                      >
                      <span class="tab-title">RSS Configuration</span>
                </span>
              </li>

              <li class="nav-item ml-1">
                <span style="border: none"
                  (click)="categoriesConfiguration()" 
                  [ngClass]="categoriesActive ? 'nav-link active-link custom-link categories-mt ' : 'nav-link custom-link categories-mt '"
                  >
                    <span class="tab-title">Categories</span>
                </span>
              </li>

            </ul>
            <div class="row mb-4 justify-content-center">
              <ng-container *ngIf="rssActive">
                  <app-rss-urls></app-rss-urls>
              </ng-container>
              <ng-container *ngIf="categoriesActive">
                  <app-rss-categories></app-rss-categories>
              </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>