.rss-filters {
    margin-top: .5rem;
}

.label-category {
    color: rgb(245, 241, 202);
    font-size: .9rem;
}
  
.select-category {
    color:rgb(245, 245, 245); 
    background-color:rgb(2, 24, 24);
    font-size: .9rem;
}

.scale-rss-filters {
    position: relative;
    transform: scale(1);
    transition: all .4s;
}

.unscale-rss-filters {
    position: relative;
    transform: scale(0);
    transition: all .4s;
}


@media (max-width: 768px) {

    .rss-filters {
        margin-top: 1rem;
    }

}