<!-- Modal -->
<div #modalRssAdd class="modal fade" id="modal-rss-add">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add RSS</h4>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form [formGroup]="modalAddRssForm" (ngSubmit)="addRss()">

        </form>

        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button (click)="addRss()" type="button" class="btn btn-success" >Add</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->