.modal {
    transition: all 0.4s;  
}

.modal-transition-in {

    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.8));
}

.modal-content {
    background-color: #eee;
}

.modal-title {
    font-size: 1.2rem;
    line-height: 1.1;
}

.modal-subtitle {
    font-size: .9rem;
    margin-left: 10px;
}

.callCloudFunctionMessage {
    color: rgb(150, 115, 0);
    font-size: 18px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
.select-rssName {
    width: 90%;
}

.input-keywords {
    width: 70%;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

@media screen and ( max-height: 900px ) { 
    .modal-transition-in{
        padding-top: 10vh;  
    }
}

@media screen and ( max-height: 800px ) { 
    .modal-transition-in {
        padding-top: 10vh;
    }
}

@media screen and ( max-height: 700px ) { 
    .modal-transition-in {
        padding-top: 12vh;  
    }
}

@media screen and ( max-height: 600px ) { 
    .modal-transition-in {
        padding-top: 16vh;  
    }
}