/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.error-message {
    margin: 10px;
    color: red;
    font-weight: bold;
    display: block;
    text-align: center
}